<div id="testimonials">
    <div class="container overflow">
        <div class="section-intro">
            <div class="section-heading">
                <h1>Testimonials</h1>
            </div>
        </div>
        <div class="outside-box flex">

            <div class="human-info">
                <div class="time flex">
                    <div class="star-icons">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="time-info">
                        <p>2 days ago</p>
                    </div>


                </div>

                <div class="human-info-text">
                    <p>My son started at Kinderex at the beginning of the year. We were all a bit anxious to move
                        him into a new environment, but it was the best decision we have made!</p>
                </div>
                <div class="author flex">
                    <div class="author-img">
                        <img src="../../../assets/images/human1.jpg" alt="">
                    </div>
                    <div class="author-data">
                        <p>Sarah Johnson</p>
                        <p>Client</p>
                    </div>
                </div>

            </div>
            <div class="human-info">
                <div class="time flex">
                    <div class="star-icons">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="time-info">
                        <p>2 days ago</p>
                    </div>


                </div>

                <div class="human-info-text">
                    <p>My son started at Kinderex at the beginning of the year. We were all a bit anxious to move
                        him into a new environment, but it was the best decision we have made!</p>
                </div>
                <div class="author flex">
                    <div class="author-img">
                        <img src="../../../assets/images/human2.jpg" alt="">
                    </div>
                    <div class="author-data">
                        <p>Marie Hanson</p>
                        <p>Client</p>
                    </div>
                </div>

            </div>
            <div class="human-info">
                <div class="time flex">
                    <div class="star-icons">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="time-info">
                        <p>2 days ago</p>
                    </div>


                </div>

                <div class="human-info-text">
                    <p>My son started at Kinderex at the beginning of the year. We were all a bit anxious to move
                        him into a new environment, but it was the best decision we have made!</p>
                </div>
                <div class="author flex">
                    <div class="author-img">
                        <img src="../../../assets/images/human3.jpg" alt="">
                    </div>
                    <div class="author-data">
                        <p>Sarah Johnson</p>
                        <p>Client</p>
                    </div>
                </div>

            </div>
            <div class="human-info">
                <div class="time flex">
                    <div class="star-icons">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="time-info">
                        <p>2 days ago</p>
                    </div>


                </div>

                <div class="human-info-text">
                    <p>My son started at Kinderex at the beginning of the year. We were all a bit anxious to move
                        him into a new environment, but it was the best decision we have made!</p>
                </div>
                <div class="author flex">
                    <div class="author-img">
                        <img src="../../../assets/images/human4.jpg" alt="">
                    </div>
                    <div class="author-data">
                        <p>Sarah Johnson</p>
                        <p>Client</p>
                    </div>
                </div>

            </div>
            <div class="human-info">
                <div class="time flex">
                    <div class="star-icons">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="time-info">
                        <p>2 days ago</p>
                    </div>


                </div>

                <div class="human-info-text">
                    <p>My son started at Kinderex at the beginning of the year. We were all a bit anxious to move
                        him into a new environment, but it was the best decision we have made!</p>
                </div>
                <div class="author flex">
                    <div class="author-img">
                        <img src="../../../assets/images/human1.jpg" alt="">
                    </div>
                    <div class="author-data">
                        <p>Sarah Johnson</p>
                        <p>Client</p>
                    </div>
                </div>

            </div>
            <div class="human-info">
                <div class="time flex">
                    <div class="star-icons">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="time-info">
                        <p>2 days ago</p>
                    </div>


                </div>

                <div class="human-info-text">
                    <p>My son started at Kinderex at the beginning of the year. We were all a bit anxious to move
                        him into a new environment, but it was the best decision we have made!</p>
                </div>
                <div class="author flex">
                    <div class="author-img">
                        <img src="../../../assets/images/human2.jpg" alt="">
                    </div>
                    <div class="author-data">
                        <p>Marie Hanson</p>
                        <p>Client</p>
                    </div>
                </div>

            </div>

        </div>
        <div class="scroll-icon">

            <i class="far fa-circle icon-left"></i>
            <i class="far fa-circle icon-right"></i>
        </div>
    </div>
</div>