<div id="teachers">
    <div class="container">
        <div class="section-intro">
            <div class="section-heading">
                <h1>Our Wonderful Teachers</h1>
            </div>
        </div>
        <div class="teachers-info flex">
            <div class="teacher">
                <div class="teacher-photo">
                    <img src="../../../assets/images/teacher1.jpg" alt="">
                </div>
                <div class="teacher-data">
                    <p> <a href="#">Samuel Chapman</a> </p>
                    <p>Founder, Center Director</p>
                    <p>Samuel Chapman is the founder and director of Kinderex who has spent his entire career
                        working in a preschool setting.</p>
                </div>
                <ul>
                    
                </ul>
            </div>
            <div class="teacher">
                <div class="teacher-photo">
                    <img src="../../../assets/images/teacher2.jpg" alt="">
                </div>
                <div class="teacher-data">
                    <p><a href="">Stephen Rose</a></p>
                    <p>Lead Teacher</p>
                    <p>Samuel Chapman is the founder and director of Kinderex who has spent his entire career
                        working in a preschool setting.</p>
                </div>
                <ul>
                    
                </ul>
            </div>
            <div class="teacher">
                <div class="teacher-photo">
                    <img src="../../../assets/images/teacher3.jpg" alt="">
                </div>
                <div class="teacher-data">
                    <p><a href="">Katherina White</a></p>
                    <p>Assistant Teacher</p>
                    <p>Samuel Chapman is the founder and director of Kinderex who has spent his entire career
                        working in a preschool setting.</p>
                </div>
                <ul>
                    
                </ul>
            </div>
            <div class="teacher">
                <div class="teacher-photo">
                    <img src="../../../assets/images/teacher4.jpg" alt="">
                </div>
                <div class="teacher-data">
                    <p><a href="">Danielle Gray</a></p>
                    <p>Support Family Specialist</p>
                    <p>Samuel Chapman is the founder and director of Kinderex who has spent his entire career
                        working in a preschool setting.</p>
                </div>
                <ul>
                    
                </ul>
            </div>
        </div>
    </div>
</div>