<div id="blogs">
    <div class="container">
        <div class="section-intro">
            <div class="section-heading">
                <h1>Latest Blog Posts</h1>
            </div>
        </div>
        <div class="all-blogs-box flex">
            <div class="blog">
                <div class="blog-img">
                    <img src="../../../assets/images/blog1.jpg" alt="">
                </div>
                <div class="post-text">
                    <div class="author flex">
                        <div class="news">
                            <a href="">News</a>
                        </div>
                        <p>by <span><a href="#">Martha Ryan</a></span></p>
                    </div>
                    <h2>How Testing Buoyancy Can Build Babies’ Skills</h2>
                    <p>The sound and sight of water are absolutely fascinating to infants. And for good reason!
                        Water is a completely unique substance in the world, and...</p>
                    <p>2 days ago</p>
                </div>
            </div>
            <div class="blog">
                <div class="blog-img">
                    <img src="../../../assets/images/blog2.jpg" alt="">
                </div>
                <div class="post-text">
                    <div class="author flex">
                        <div class="news">
                            <a href="">News</a>
                        </div>
                        <p>by <span><a href="#">Lawrence Kelly</a></span></p>
                    </div>
                    <h2>Preschool Science Activities Transform Kids into Independent Thinkers</h2>
                    <p>For any parent looking for some home science fun with their little ones, we have put together
                        a wonderful collection of safe, fun, and easy...</p>
                    <p>2 days ago</p>
                </div>
            </div>
            <div class="blog">
                <div class="blog-img">
                    <img src="../../../assets/images/blog3.jpg" alt="">
                </div>
                <div class="post-text">
                    <div class="author flex">
                        <div class="news">
                            <a href="">News</a>
                        </div>
                        <p>by <span><a href="#">Theresa Simpson</a></span></p>
                    </div>
                    <h2>The Road to Positive Parenting</h2>
                    <p>Every parent grapples with this issue. If you have young children, you know how every day can
                        be a struggle if your child doesn’t behave. Even the most...</p>
                    <p>2 days ago</p>
                </div>
            </div>
            <div class="blog">
                <div class="blog-img">
                    <img src="../../../assets/images/blog4.jpg" alt="">
                </div>
                <div class="post-text">
                    <div class="author flex">
                        <div class="news">
                            <a href="">News</a>
                        </div>
                        <p>by <span><a href="#">Lawrence Kelly</a></span></p>
                    </div>
                    <h2>Sensory Counting Games for Kids that Blend Fun and Education</h2>
                    <p>Have you ever wondered why kids—especially the under-five set—tend to touch everything they
                        possibly can, from boxes at the...</p>
                    <p>2 days ago</p>
                </div>
            </div>
        </div>
        <div class="question-btn">
            <div class="questionBtn">
                <a href="#">View All Blog Posts</a>
            </div>
        </div>
    </div>
</div>