<header>
    <div class="nav">
        <nav>
            <img src="" alt="" class="logo">
            <ul class="menu">
                <li><a href="#">Home</a>
                    <hr>
                </li>

                <li><a href="#about">About</a>
                    <hr>
                </li>
                <li><a href="#">Programs</a>
                    <hr>
                </li>
                <li><a href="#">Team</a>
                    <hr>
                </li>
                <li><a href="#">FAQ</a>
                    <hr>
                </li>
                <li><a href="#">Pricing</a>
                    <hr>
                </li>
                <li><a href="#">Contacts</a>
                    <hr>
                </li>
                <li><a href="#">Admin</a>
                    <hr>
                </li>
            </ul>
        </nav>
    </div>

</header>