<div id="pricing">
    <div class="container">
        <div class="section-intro">
            <div class="section-heading">
                <h1>Pricing</h1>
            </div>
        </div>
        <div class="cards flex">
            <div class="card clr1">
                <div class="pricing-icon">
                    <i class="fas fa-child"></i>
                </div>
                <div class="card-text">
                    <h2>Infants</h2>
                    <p>This plan provides a full set of classes for infants, perfectly suited for making the first
                        transition away from home natural and easy for your child.</p>
                    <p class="number">$59.00/mo</p>
                    <div class="sign-btn">
                        <p>Sign Up</p>
                    </div>
                </div>
            </div>
            <div class="card clr2">
                <div class="pricing-icon">
                    <i class="fas fa-child"></i>
                </div>
                <div class="card-text">
                    <h2>Kids</h2>
                    <p>Our Kids plan is aimed at practicing the skills needed for kindergarten success, like
                        following directions, reading, and writing.</p>
                    <p class="number">$99.00/mo</p>
                    <div class="sign-btn">
                        <p>Sign Up</p>
                    </div>
                </div>
            </div>
            <div class="card clr3">
                <div class="pricing-icon">
                    <i class="fas fa-child"></i>
                </div>
                <div class="card-text">
                    <h2>Early Kindergarten</h2>
                    <p>This plan is intended for our young 5-year-olds who miss the cut-off date for Kindergarten
                        entrance or for those who need more time to prepare.</p>
                    <p class="number">$199.00/mo</p>
                    <div class="sign-btn">
                        <p>Sign Up</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>